<div class="container">
  <mat-card>
    <mat-list>
      <div class="row">
        <div class="col-md-1"><h2>S.No</h2></div>
        <div class="col-md-5"><h2>Input</h2></div>
        <div class="col-md-3"><h2>Output</h2></div>
        <div class="col-md-3"></div>
      </div>
    </mat-list>
    <mat-list *ngFor="let testcase of testcases; let i = index">
      <div class="row">
        <div class="col-md-1">
          <h3>{{ i + 1 }}</h3>
        </div>
        <div class="col-md-5">
          <h3>{{ testcase.input }}</h3>
        </div>
        <div class="col-md-3">
          <h3>{{ testcase.expectedOutput }}</h3>
        </div>
        <div class="col-md-3">
          <button
            mat-raised-button
            style="background-color: rgb(172, 19, 19); color: white"
            (click)="deleteTestcase(testcase.testcaseId)"
          >
            Delete
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list>
    <div class="text-center">
      <button
        mat-raised-button
        color="primary"
        routerLink="/admin/problems/testcase/{{ problemId }}/add"
      >
        Add Testcases
      </button>
    </div>
  </mat-card>
</div>
