<div class="container">
    <div class="row">
        <div class="col-md-4 mt-15" *ngFor="let contest of contests">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        {{contest.contestName}}
                    </mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle>
                    
                        Time: {{contest.totalTime}} Hrs
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        Problems: {{contest.totalQuestion}}
                    </mat-card-subtitle>
                </mat-card-header>
                    <mat-divider></mat-divider>
                    <div class="container">
                        <table>
                            <tr>
                                <td><mat-card-content style="color: rgb(146, 10, 10);">Time Taken:</mat-card-content></td>
                                <mat-divider></mat-divider>
                                <td><mat-card-content>{{contest.timeTaken}} <b>Hrs</b></mat-card-content></td>
                            </tr>
                            <mat-divider></mat-divider>
                            <tr>
                                <td><mat-card-content style="color: rgb(13, 101, 13);">Accepted Problems:</mat-card-content></td>
                                <mat-divider></mat-divider>
                                <td><mat-card-content><b>{{contest.solvedQuestion}}</b></mat-card-content></td>
                            </tr>
                        </table>
                    </div>    
            </mat-card>
        </div>
    </div>
</div>